version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: cashier
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - '5555:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
